.Login {
    background-color: #ffadc2;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    max-height: 500px;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: montserrat;
  }
  
  .base {
    margin-top: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .titulo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    font-size: larger;
  }
  
  .forms {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font:white;
  }