.conta{

   background-color: #64C9cf;
   max-width: 300px;
   border-radius: 10px;
   position: fixed;
   top: 150px;
   left: 50px;

}



.botoes{

   display: flex;
   flex-direction: column;
   border-radius: 10px;

}

.Tittle{
    
    
    font-size: large;
    align-items: center;
    margin-top: 15px;
    margin-top: 15px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
}

