.main-container {
    max-width: 1400px; 
    margin: auto;
    width: 100%;
}

.hero-banner-container {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 15px;
    margin: 3em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    font-size: small;
    
        
  }

  .titulo{

    font-size: medium;
    font-weight: 500;
  }