.hall {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1300px;
  max-width: 90%;
  
}

.Produto {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 160px;
  border-radius: 10px;
  max-height: 252px;
  margin: 0 50px;
}

.imagem {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
  height: 184px;
}

.nomedoproduto {
  font-size: x-small;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #64c9cf;
}

.precodoproduto {
  font-size: x-small;
  margin-left: 5px;
  margin-right: 5px;
  color: #64c9cf;
}

.parte2 {
  display: flex;
  flex-direction: row;
}
